<div>
    <input type="text" name="title" id="title" placeholder="title">
    <input type="text" name="description" id="description" placeholder="description">
    <input type="number" name="price" id="price" placeholder="price">
    <input type="text" name="code" id="code" placeholder="code">
    <input type="number" name="stock" id="stock" placeholder="stock">
    <button type="button" id="btnEnviar">Enviar</button>
</div>
<div id="listaProductos"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>